*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;;
}

html,body{
  height: 100%;
  background-color: #212121;
}

.clear{
  clear: both;
}

.container{
  padding: 0 2%;
}
ff
.d-none{
  display: none !important;
}

.d-block{
  display: block !important;
}

.exit{
  position: absolute;
  top: 4%;
  right: 2%;
  z-index: 999;
  font-size: clamp(1rem, 2.5vw, 2rem);
  cursor: pointer;
  transition: 0.4s;
}

.exit a{
  text-decoration: none;
  color: #d32f2f;
  transition: 0.4s;
}

.exit:hover{
  color: #d50000;
  scale: 1.1;
}

.exit a:hover{
  color: #d50000;
}

.flex{
  display: flex;
}


/****/

header{
  width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: whitesmoke;
}

.header-left .logo{
  display: inline-block;
}

.header-left li{
  display: inline;
  list-style: none;
  margin: 0 15px;
}

.header-left a{
  text-decoration: none;
  color: whitesmoke;
}

.main-call{
  width: 100%;
  background-color: #ccc;
  height: 30vh;
}

.movie-list{
  padding: 60px 0;
}

.movie-list .container{
  display: flex;
  overflow-x: auto;
  padding: 0;
}

.movie-list h2{
  color: whitesmoke;
  padding: 0 2%;
}

.movie-list .container::-webkit-scrollbar {
  display: none;
}

.movie-bg{
  min-width: 15%;
  height: 35vh;
  background-color: rgb(182, 35, 35);
  margin: 10px 2%;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 10px;
  transition: ease 0.4s;
}

.movie-bg:hover{
  scale: 1.1;
}

.movie-bg img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.movie-modal{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  background-size: 100% 100%;
  height: 100vh;
  left: -120%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.movie-modal .container-modal{
  width: 45%;
  display: inline-block;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.9023984593837535) 0%, rgba(0,0,0,0.6755077030812324) 74%, rgba(0,0,0,0) 100%);
  padding: 0 2%;
  height: 100vh;
}

.modal-content{
  margin-top: 20%; /*CHANGE, its just for LGTV*/
}

.modal-content h2 span{
  font-size: clamp(2.5rem, 2.5vw, 4.5rem);
}

.movie-modal h2{
  width: 100%;
  font-size: clamp(3rem, 2.5vw, 5rem);
}

.movie-modal p{
  color: whitesmoke;
  font-size: clamp(0.6rem, 2.5vw, 1rem);
  padding-left: 3%;
}

.movie-modal .movie-info{
  display: flex;
  font-style: italic;
  font-size: (0.8rem, 2.5vw, 1.2rem);
  margin-bottom: 15px;
}

.movie-modal button{
  border: 0;
  background-color: #564D4D;
  color: whitesmoke;
  padding: 10px 15px;
  cursor: pointer;
  font-size: clamp(0.6rem, 2.5vw, 1rem);
  margin: 15px 15px 0 0;
  border-radius: 5%;
  transition: 0.5s;
}

.movie-modal button:hover{
  background-color: whitesmoke;
  color: #564D4D;
}

.movie-modal button span{
  padding: 0 5px;
  display: flex;
}

.movie-modal button span:nth-of-type(2){
  padding: 0 5px;
}

.movie-player{
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.movie-player video{
  width: 100%;
  height: 100vh;
  position: relative;
}


/**Fade Animation**/

.fade {
  visibility: visible;
  opacity: 1;
  left: 0;
}

/****/

/**TV 4K**/

@media screen and (min-width: 1920px) {
  .movie-modal h2{
    font-size: clamp(4rem, 2.5vw, 6rem);
  }

  .modal-content h2 span{
    font-size: clamp(4rem, 2.5vw, 6rem);
  }
  
  .movie-modal p{
    font-size: clamp(1.6rem, 2.5vw, 2.1rem);
  }
  
  .movie-modal .movie-info{
    font-size: (1.8rem, 2.5vw, 2.2rem);
  }
  
  .movie-modal button{
    font-size: clamp(1.6rem, 2.5vw, 2rem);
  }

  svg{
    font-size: clamp(1.8rem, 2.5vw, 2.1rem) !important;
    margin-left: 10px;
  }
}

/****/



